body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7FB685;
    color: #6C969D;
}
header {
    background-color: #426A5A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 1.8em;
    font-weight: bold;
}
.news {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    overflow: hidden;
}

.news:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.news h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #1b4d3e;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.news img {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 35%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.news p {
    text-align: justify;
    line-height: 1.8;
    color: #555;
}